.homepage-container {
    text-align: center;
    padding: 50px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.homepage-container p {
    font-size: 2em;
    margin-bottom: 20px;
}

.homepage-container a {
    color: #ff69b4;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

.homepage-container a:hover {
    color: #ff1493;
}